<!-- Header -->
  <header id="header">
    <% if user_signed_in? %>
      <nav class="left">
        <a href="#menu"><span>Menu</span></a>
      </nav>
    <% end %>
    <h1 class="logo"> Course Management System </h1>
    <!-- <nav class="left">
      <button type="button" class="btn btn-secondary"><%= link_to "Log in as a Teacher", new_teacher_session_path %></button>
    </nav> -->
    <nav class="right">
      <button type="button" class="btn btn-secondary"><%= link_to "Log in as a Student", new_user_session_path %></button>
    </nav>
  </header>

<!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
    </ul>
    <ul class="actions vertical">
      <li><a href="#" class="button fit">Login</a></li>
    </ul>
  </nav>
